@charset "UTF-8";
/*marca.html versión Laptop*/
@media screen and (min-width: 769px) {
  .contenedor_marca {
    display: grid;
    grid-template-columns: 750px 400px 200px;
    grid-template-rows: 60px 480px 300px 50px;
    grid-template-areas: "menu menu menu" "formulario formulario formulario" "tabla tabla tabla" "footer footer footer"; }
  .navbar {
    grid-area: menu; }
  .marcaprincipal .marcaprincipal_video {
    grid-area: formulario; }
  .marcaprincipal {
    grid-area: formulario;
    padding-top: 20px;
    transform: translate(280px, 0px); }
  .marcaprincipal_video {
    grid-area: formulario;
    position: absolute;
    transform: translate(800px, -40px); }
  .row_marca {
    grid-area: tabla;
    position: absolute;
    transform: translate(-760px, 300px);
    padding-top: 100px; }
  .container-fluid_marca {
    grid-area: tabla;
    position: absolute;
    transform: translate(510px, -320px); }
  .footer {
    grid-area: footer; } }

/*marca.html versión iPad*/
@media screen and (max-width: 768px) {
  .contenedor_marca {
    grid-template-columns: 120px 100px 200px;
    grid-template-rows: 70px 100px 300px 30px;
    grid-template-areas: "menu menu menu" "formulario formulario formulario" "tabla tabla tabla" "footer footer footer"; }
  .navbar {
    grid-area: menu; }
  .marcaprincipal {
    grid-area: formulario;
    padding-top: 20px; }
  .marcaprincipal_video {
    grid-area: formulario; }
  .row_marca .container-fluid_marca {
    grid-area: tabla; }
  .footer {
    grid-area: footer; } }

/*marca.html versión iPhone X*/
@media screen and (max-width: 480px) {
  .contenedor_marca {
    grid-template-areas: "menu" "formulario" "formulario" "formulario" "formulario" "tabla" "tabla" "footer"; }
  .navbar {
    grid-area: menu; }
  .marcaprincipal {
    grid-area: formulario;
    position: relative;
    transform: translateY(-250px); }
  .marcaprincipal_video {
    grid-area: formulario;
    position: relative;
    transform: translateY(-550px); }
  .row_marca {
    grid-area: tabla;
    position: absolute; }
  .container-fluid_marca {
    position: absolute;
    transform: translate(10px, 20px); }
  .footer {
    grid-area: footer;
    position: absolute;
    padding-top: 450px; } }

/*login.html versión Laptop*/
@media screen and (min-width: 769px) {
  .contenedor_login {
    display: grid;
    grid-template-columns: 750px 400px 200px;
    grid-template-rows: 60px 480px 300px 50px;
    grid-template-areas: "menu menu menu" "formulario formulario formulario" "tabla tabla tabla" "footer footer footer"; }
  .navbar {
    grid-area: menu; }
  .usuarioyclave .datospersonales {
    grid-area: formulario; }
  .usuarioyclave {
    grid-area: formulario;
    padding-top: 20px;
    transform: translate(280px, 0px); }
  .datospersonales {
    grid-area: formulario;
    position: absolute;
    transform: translate(800px, -210px); }
  .row_login {
    grid-area: tabla;
    position: absolute;
    transform: translate(-760px, 300px);
    padding-top: 100px; }
  .container-fluid_login {
    grid-area: tabla;
    position: absolute;
    transform: translate(510px, -320px); }
  .footer {
    grid-area: footer; } }

/*login.html versión iPad*/
@media screen and (max-width: 768px) {
  .contenedor_login {
    grid-template-columns: 120px 100px 200px;
    grid-template-rows: 70px 100px 300px 30px;
    grid-template-areas: "menu menu menu" "formulario formulario formulario" "tabla tabla tabla" "footer footer footer"; }
  .navbar {
    grid-area: menu; }
  .usuarioyclave {
    grid-area: formulario;
    padding-top: 20px; }
  .datospersonales {
    grid-area: formulario; }
  .row1 .container-fluid_login {
    grid-area: tabla; }
  .footer {
    grid-area: footer; }
  .btn-outline-success {
    display: none; }
  .iconos {
    position: absolute; } }

/*login.html versión iPhone X*/
@media screen and (max-width: 480px) {
  .contenedor_login {
    grid-template-areas: "menu" "formulario" "formulario" "formulario" "formulario" "tabla" "tabla" "footer"; }
  .navbar {
    grid-area: menu; }
  .usuarioyclave {
    grid-area: formulario; }
  .datospersonales {
    grid-area: formulario;
    position: relative;
    transform: translate(0px, 20px); }
  .row1 {
    grid-area: tabla;
    position: absolute;
    transform: translate(-20px, -140px); }
  .container-fluid_login {
    grid-area: tabla;
    transform: translate(10px, 20px);
    position: absolute;
    height: 50px;
    width: 250px; }
  .footer {
    grid-area: footer;
    position: absolute;
    padding-top: 450px; } }

.contacto__formulario--titulo {
  margin-top: 5px;
  margin-bottom: 5px; }

.contacto__formas--titulo {
  margin-top: 10px;
  margin-bottom: 10px; }

.contacto__formas--otras {
  margin-bottom: 200px; }

.contacto__formulario--color, .usuarioyclave__login--color .datospersonales__registrate--color {
  background-color: #d1e7dd;
  border-color: #badbcc; }

/*contacto.html versión Laptop*/
@media screen and (min-width: 769px) {
  .contenedor_contacto {
    display: grid;
    grid-template-columns: 750px 400px 200px;
    grid-template-rows: 60px 480px 300px 50px;
    grid-template-areas: "menu menu menu" "formulario formulario formulario" "tabla tabla tabla" "footer footer footer"; }
  .navbar {
    grid-area: menu; }
  .contactogummi .contactogummi_formas {
    grid-area: formulario; }
  .contactogummi {
    grid-area: formulario;
    padding-top: 15px;
    transform: translate(280px, 0px); }
  .contactogummi_formas {
    grid-area: formulario;
    position: absolute;
    transform: translate(800px, -294px); }
  .row_contacto {
    grid-area: tabla;
    position: absolute;
    transform: translate(-760px, 300px);
    padding-top: 100px; }
  .container-fluid_contacto {
    grid-area: tabla;
    position: absolute;
    transform: translate(510px, -320px); }
  .footer {
    grid-area: footer; } }

/*contacto.html versión iPad*/
@media screen and (max-width: 768px) {
  .contenedor_contacto {
    grid-template-columns: 120px 100px 200px;
    grid-template-rows: 70px 100px 300px 30px;
    grid-template-areas: "menu menu menu" "formulario formulario formulario" "tabla tabla tabla" "footer footer footer"; }
  .navbar {
    grid-area: menu; }
  .contactogummi {
    grid-area: formulario;
    padding-top: 20px; }
  .contactogummi_formas {
    grid-area: formulario; }
  .row1 .container-fluid_contacto .img-fluid .img-fluid2 {
    grid-area: tabla; }
  .footer {
    grid-area: footer; }
  .form-control, .form-control-carrito {
    display: none; }
  .btn-outline-success {
    display: none; }
  .iconos {
    position: relative;
    transform: translate(-1px, -1px); } }

/*contacto.html versión iPhone X*/
@media screen and (max-width: 480px) {
  .contenedor_contacto {
    grid-template-areas: "menu" "formulario" "formulario" "formulario" "formulario" "tabla" "tabla" "footer"; }
  .navbar {
    grid-area: menu; }
  .contactogummi {
    grid-area: formulario; }
  .contactogummi_formas {
    grid-area: formulario;
    position: relative;
    transform: translate(0px, 20px); }
  .row1 {
    grid-area: tabla;
    position: absolute;
    transform: translate(-20px, -140px); }
  .container-fluid_contacto {
    grid-area: tabla;
    transform: translate(10px, 20px);
    position: absolute;
    height: 50px;
    width: 250px; }
  .iconos_facebook {
    grid-area: tabla;
    position: absolute;
    transform: translate(270px, -560px);
    height: auto;
    width: auto; }
  .iconos_instagram {
    grid-area: tabla;
    position: absolute;
    transform: translate(300px, -560px);
    height: auto;
    width: auto; }
  .footer {
    grid-area: footer;
    position: absolute;
    padding-top: 450px; } }

/*carrito.html versión Laptop*/
@media screen and (min-width: 769px) {
  .contenedor_carrito {
    display: grid;
    grid-template-columns: 750px 400px 200px;
    grid-template-rows: 60px 480px 300px 50px;
    grid-template-areas: "menu menu menu" "formulario formulario formulario" "tabla tabla tabla" "footer footer footer"; }
  .navbar {
    grid-area: menu; }
  .container {
    grid-area: formulario; }
  .row_carrito {
    grid-area: tabla;
    position: absolute;
    padding-top: 100px; }
  .container-fluid_carrito {
    grid-area: tabla;
    position: absolute;
    transform: translate(800px, -320px); }
  .footer {
    grid-area: footer;
    position: relative;
    padding-top: 150px; } }

/*login.html versión iPad*/
@media screen and (max-width: 768px) {
  .contenedor_login {
    grid-template-columns: 120px 100px 200px;
    grid-template-rows: 70px 100px 300px 30px;
    grid-template-areas: "menu menu menu" "formulario formulario formulario" "tabla tabla tabla" "footer footer footer"; }
  .navbar {
    grid-area: menu; }
  .container {
    grid-area: formulario; }
  .row_carrito .container-fluid_carrito {
    grid-area: tabla; }
  .footer {
    grid-area: footer; }
  .form-control, .form-control-carrito {
    display: none; }
  .btn-outline-success {
    display: none; } }

/*login.html versión iPhone X*/
@media screen and (max-width: 480px) {
  .contenedor_login {
    grid-template-areas: "menu" "formulario" "formulario" "formulario" "formulario" "tabla" "tabla" "footer"; }
  .navbar-toggler-icon {
    grid-area: menu; }
  .container {
    grid-area: formulario; }
  .row_carrito {
    grid-area: tabla;
    position: absolute;
    transform: translate(-20px, -10px); }
  .container-fluid_carrrito {
    grid-area: tabla;
    transform: translate(10px, 20px);
    position: absolute;
    height: 50px;
    width: 250px; }
  .iconos_facebook_carrito {
    grid-area: tabla;
    transform: translate(98px, -20px);
    position: absolute; }
  .iconos_instagram_carrito {
    grid-area: tabla;
    transform: translate(126px, -20px);
    position: absolute; }
  .footer {
    grid-area: footer;
    position: absolute;
    transform: translateY(90px); } }

a:active {
  font-weight: bold; }

.nav-link:active, #boton-vaciar.btn-primary:active, .btn.btn-outline-success:active, .btn.btn-primary:active, .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:active:first-child, #boton-vaciar.btn-primary:active .btn:first-child:active, a:active, .btn.btn-primary:active .btn.btn-outline-success:active, .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:active:first-child .btn.btn-outline-success:active {
  color: white;
  background-color: black;
  border-color: black;
  font-style: oblique; }

.btn.btn-primary, .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:first-child {
  color: black;
  background-color: #ebeae6;
  border-color: black;
  margin-top: 40px; }

.btn.btn-outline-success {
  color: black;
  background-color: #ebeae6;
  border-color: black; }

a:visited {
  text-decoration: none;
  color: black; }

a:hover {
  background-color: white;
  font-weight: bold; }

.bg-lav {
  background-color: #ebeae6; }

.form-control, .form-control-carrito {
  position: absolute;
  transform: translateX(-270px);
  width: 171px; }

.btn.btn-outline-success.bg-bla, .btn-outline-success {
  position: absolute;
  transform: translateX(-90px); }

.bg-bla {
  background-color: #ebeae6;
  border-color: black;
  border: black; }

a.dropdown-item:active {
  color: white;
  background-color: black;
  border-color: black;
  font-style: oblique; }

button.btn.btn-outline-success.bg-bla:active, button.btn-outline-success:active {
  color: white;
  background-color: black;
  border-color: black;
  background-color: black;
  font-style: oblique; }

button.btn.btn-primary.bg-bla:active, .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary button.bg-bla.btn:active:first-child {
  color: white;
  background-color: black;
  border-color: black;
  font-style: oblique; }

.btn-outline-success:not {
  border: black;
  border-color: black; }

.nav-link:active, #boton-vaciar.btn-primary:active, .btn.btn-outline-success:active, .btn.btn-primary:active, .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:active:first-child, #boton-vaciar.btn-primary:active .btn:first-child:active, a:active, .btn.btn-primary:active .btn.btn-outline-success:active, .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:active:first-child .btn.btn-outline-success:active {
  color: white;
  background-color: black;
  border-color: black;
  font-style: oblique; }

.usuarioyclave__login .datospersonales__registrate {
  margin-bottom: 150px; }

.usuarioyclave .datospersonales {
  height: 250px; }

.datospersonales {
  padding-top: 40px; }

.login {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify; }

.marca__titulo {
  font-style: oblique; }

.contacto__formulario--titulo .contacto__formas--titulo .contacto__formas--otras .datospersonales__registrate {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: small; }

.contacto__formas--otras .usuarioyclave__login .datospersonales__registrate {
  color: darkgray; }

.contacto__formulario--titulo .contacto__formas--titulo a:visited .btn.btn-primary .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:first-child, .contacto__formulario--titulo .contacto__formas--titulo a:visited .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:first-child .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:first-child, .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .contacto__formulario--titulo .contacto__formas--titulo a:visited .btn:first-child .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:first-child {
  color: black; }

.btn.btn-primary:hover, .btn.btn-outline-success:hover, .btn-outline-success:hover, .btn:first-child:hover, #boton-vaciar.btn-primary:hover, .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:hover:first-child {
  color: black;
  background-color: white;
  border-color: black;
  font-weight: bold; }
