/*carrito.html versión Laptop*/

@media screen and  (min-width: 769px)
{
.contenedor_carrito {
    display: grid;
    grid-template-columns: 750px 400px 200px;
    grid-template-rows: 60px 480px 300px 50px;
    grid-template-areas: 
    "menu menu menu"
    "formulario formulario formulario"
    "tabla tabla tabla"
    "footer footer footer";
     }

     .navbar {
        grid-area:menu;
    }
    
    .container{
        grid-area: formulario;
    }
      
    .row_carrito {
        grid-area: tabla;
        position: absolute;
        transform: translate(5px, -80px);
        padding-top: 100px;
     }
    
     .container-fluid_carrito {
        grid-area: tabla;
        position: absolute;
        transform: translate(900px, -310px);
     }
    
    .footer {
        grid-area: footer;
        padding-top: 40px;
    }
}    

/*carrito.html versión iPad*/

@media screen and  (max-width: 768px)
{
.contenedor_carrito {
    grid-template-columns: 200px 100px 200px;
    grid-template-rows: 200px 100px 300px 30px;
    grid-template-areas: 
    "menu menu menu"
    "formulario formulario formulario"
    "tabla tabla tabla"
    "footer footer footer";
     }

    .navbar {
        grid-area:menu;
    }
    
    .container {
        grid-area: formulario;
        padding-left: 30px;
    }
    
    .row_carrito .container-fluid_carrito{
        grid-area: tabla;
    }
    
    .footer {
        grid-area: footer;
    }

    .form-control {
      display: none;
    }

    .btn-outline-success {
        display: none;
    }

}


/*carrito.html versión iPhone X*/
@media screen and  (max-width: 480px)
{
.contenedor_carrito{
    grid-template-areas: 
    "menu"
    "formulario"
    "formulario"
    "formulario"
    "formulario"
    "tabla"
    "tabla"
    "footer";
     }

    .navbar {
        grid-area:menu;
    }
    
    .container{
        grid-area: formulario;
    }
           
    .row_login {
        grid-area: tabla;
        position: absolute;
        transform: translate(-5px, -10px);
        padding-bottom: 10px;
     }
    
    .container-fluid_login {
        grid-area: tabla;
        padding-bottom: 20px;
        position: absolute;
    }

    .footer {
        grid-area: footer;
    }

}