.contacto__formulario--titulo {
    margin-top: 5px;
    margin-bottom: 5px;
    }
    
.contacto__formas--titulo {
    margin-top: 50px;
    margin-bottom: 5px;
    
    }
    
.contacto__formas--otras {
    margin-bottom: 200px;
    }
    
.contacto__formulario--color {
    background-color: #d1e7dd;
    border-color: #badbcc;
    }

/*contacto.html versión Laptop*/

@media screen and  (min-width: 769px)
{
.contenedor_contacto {
    display: grid;
    grid-template-columns: 750px 400px 200px;
    grid-template-rows: 60px 480px 300px 50px;
    grid-template-areas: 
    "menu menu menu"
    "formulario formulario formulario"
    "tabla tabla tabla"
    "footer footer footer";
     }

.navbar {
    grid-area:menu;
}

.contactogummi .contactogummi_formas{
    grid-area: formulario;
}

.contactogummi {
  grid-area: formulario;
  padding-top: 15px;
  transform: translate(280px, 0px);
}

.contactogummi_formas {
  grid-area: formulario;
  position: absolute;
  transform: translate(800px, -250px);
}


.row_contacto {
    grid-area: tabla;
    position: absolute;
    transform: translate(-750px, 300px);
    padding-top: 100px;
 }

 .container-fluid_contacto {
    grid-area: tabla;
    position: absolute;
    transform: translate(510px, -320px);
 }

.footer {
    grid-area: footer;
}

.contacto__formulario--color {
    width: 500px;
    height: 30px;
}

}

/*contacto.html versión iPad*/

@media screen and  (max-width: 768px)
{
.contenedor_contacto {
    grid-template-columns: 120px 100px 200px;
    grid-template-rows: 70px 100px 300px 30px;
    grid-template-areas: 
    "menu menu menu"
    "formulario formulario formulario"
    "tabla tabla tabla"
    "footer footer footer";
     }

    .navbar {
        grid-area:menu;
    }
    
    .contactogummi {
        grid-area: formulario;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .contactogummi_formas {
        grid-area: formulario;
        margin-left: 10px;
     }

    .row1 .container-fluid_contacto .img-fluid .img-fluid2 {
        grid-area: tabla;
    }
    
    .footer {
        grid-area: footer;
    }

    .form-control {
      display: none;
    }

    .btn-outline-success {
      display: none;
    }
    
     .contacto__formulario--color {
        width: 350px;
    }
}

/*contacto.html versión iPhone X*/
@media screen and  (max-width: 480px)
{
.contenedor_contacto {
    grid-template-areas: 
    "menu"
    "formulario"
    "formulario"
    "formulario"
    "formulario"
    "tabla"
    "tabla"
    "footer";
     }

     .navbar {
        grid-area:menu;
    }
    
    .contactogummi {
        grid-area: formulario;
         }
    
    .contactogummi_formas {
        grid-area: formulario;
        position: relative;
        transform: translate(0px, 20px);
    }
    
    .row-login {
        grid-area: tabla;
        position: absolute;
        transform: translate(-20px, -140px);
        
     }
    
    .container-fluid_login {
        grid-area: tabla;
        transform: translate(10px, 20px);
        position: absolute;
        height: 50px;
        width: 250px;
     }

    .footer {
        grid-area: footer;
    }

    .contacto__formulario--color {
        width: 250px;
    }

}
