/*login.html versión Laptop*/

@media screen and  (min-width: 769px)
{
.contenedor_login {
    display: grid;
    grid-template-columns: 750px 400px 200px;
    grid-template-rows: 60px 480px 300px 50px;
    grid-template-areas: 
    "menu menu menu"
    "formulario formulario formulario"
    "tabla tabla tabla"
    "footer footer footer";
     }

.navbar {
    grid-area:menu;
}

.usuarioyclave .datospersonales{
    grid-area: formulario;
}

.usuarioyclave {
  grid-area: formulario;
  padding-top: 20px;
  transform: translate(280px, 0px);
}

.datospersonales {
  grid-area: formulario;
  position: absolute;
  transform: translate(800px, -210px);
}


.row_login {
    grid-area: tabla;
    position: absolute;
    transform: translate(-760px, 300px);
    padding-top: 100px;
 }

 .container-fluid_login {
    grid-area: tabla;
    position: absolute;
    transform: translate(510px, -320px);
 }

.footer_login {
    grid-area: footer;
}

.usuarioyclave__login--color {
    width: 500px;
}

.datospersonales__registrate--color {
    width: 500px;
}


}

/*login.html versión iPad*/

@media screen and  (max-width: 768px)
{
.contenedor_login {
    grid-template-columns: 120px 100px 200px;
    grid-template-rows: 70px 100px 300px 30px;
    grid-template-areas: 
    "menu menu menu"
    "formulario formulario formulario"
    "tabla tabla tabla"
    "footer footer footer";
     }

    .navbar {
        grid-area:menu;
    }
    
    .usuarioyclave {
        grid-area: formulario;
        padding-top: 20px;
        margin-left: 10px;
    }
    
    .datospersonales {
        grid-area: formulario;
        margin-left: 10px;
     }

    .row1 .container-fluid_login {
        grid-area: tabla;
    }
    
    .footer_login {
        grid-area: footer;
    }

    .btn-outline-success {
      display: none;
    }

     .usuarioyclave__login--color {
        width: 350px;
    }

    .datospersonales__registrate--color {
        width: 350px;
    }
    
}


/*login.html versión iPhone X*/
@media screen and  (max-width: 480px)
{
.contenedor_login{
    grid-template-areas: 
    "menu"
    "formulario"
    "formulario"
    "formulario"
    "formulario"
    "tabla"
    "tabla"
    "footer";
     }

    .navbar {
        grid-area:menu;
    }
    
    .usuarioyclave {
        grid-area: formulario;
         }
    
    .usuarioyclave__login--color {
        width: 250px;
    }

    .datospersonales {
        grid-area: formulario;
        position: relative;
        transform: translate(0px, 20px);
        padding-bottom: 40px;
    }

    .datospersonales__registrate--color {
        width: 250px;
    }
    
    .row_login {
        grid-area: tabla;
        position: absolute;
        transform: translate(-20px, -140px);
        
     }
    
    .container-fluid_login {
        grid-area: tabla;
        transform: translate(10px, 20px);
        position: absolute;
        height: 50px;
        width: 250px;
     }
    
     .footer_login {
        grid-area: footer;
        position: relative;
        transform: translateY(550px);
    }
}
