/*marca.html versión Laptop*/

@media screen and  (min-width: 769px)
{
.contenedor_marca {
    display: grid;
    grid-template-columns: 750px 400px 200px;
    grid-template-rows: 60px 480px 300px 50px;
    grid-template-areas: 
    "menu menu menu"
    "formulario formulario formulario"
    "tabla tabla tabla"
    "footer footer footer";
     }

.navbar {
    grid-area:menu;
}

.marcaprincipal .marcaprincipal_video {
    grid-area: formulario;
}

.marcaprincipal {
  grid-area: formulario;
  padding-top: 20px;
  transform: translate(280px, 0px);
}

.marcaprincipal_video { 
  grid-area: formulario;
  position: absolute;
  transform: translate(800px, -40px);
}

.row_marca {
    grid-area: tabla;
    position: absolute;
    transform: translate(-760px, 300px);
    padding-top: 100px;
    margin-left: 10px;
 }

 .container-fluid_marca {
    grid-area: tabla;
    position: absolute;
    transform: translate(510px, -320px);
 }

.footer_marca {
    grid-area: footer;
}

}


/*marca.html versión iPad*/

@media screen and  (max-width: 768px)
{
.contenedor_marca {
    grid-template-columns: 120px 100px 200px;
    grid-template-rows: 70px 100px 300px 30px;
    grid-template-areas: 
    "menu menu menu"
    "formulario formulario formulario"
    "tabla tabla tabla"
    "footer footer footer";
     }

    .navbar {
        grid-area:menu;
    }
    
    .marcaprincipal {
        grid-area: formulario;
        padding-top: 20px;
    }
    
    .marcaprincipal_video {
        grid-area: formulario;
     }

    .row_marca .container-fluid_marca {
        grid-area: tabla;
    }
    
    .footer_marca {
        grid-area: footer;
    }
}

/*marca.html versión iPhone X*/
@media screen and  (max-width: 480px)
{
.contenedor_marca{
    grid-template-areas: 
    "menu"
    "formulario"
    "formulario"
    "formulario"
    "formulario"
    "tabla"
    "tabla"
    "footer";
     }

    .navbar {
        grid-area:menu;
    }
    
    .marcaprincipal {
        grid-area: formulario;
        position: absolute;
        transform: translate(20px, -250px);
    }
    
    .marcaprincipal_video {
        display: none;
     }
           
    .row_marca {
        grid-area: tabla;
        position: absolute;
        transform: translate(-5px, 250px);
        padding-bottom: 10px;
     }
    
    .container-fluid_marca {
        grid-area: tabla;
        padding-bottom: 20px;
        position: absolute;
    }

    .footer_marca {
        grid-area: footer;
        position: absolute;
        transform: translate(20px, -200px);
    }

}
