@import "variables"; 
@import "index";
@import "productos";
@import "preguntas";
@import "marca";
@import "login";
@import "contacto";
@import "carrito";       
  
   
.usuarioyclave__login--color .datospersonales__registrate--color {
@extend .contacto__formulario--color;
}

.btn.btn-outline-success:hover {
  @extend .btn.btn-primary:hover;
}

.btn-outline-success:hover {
  @extend .btn.btn-primary:hover;
}

.btn:first-child:hover {
  @extend .btn.btn-primary:hover;
}

#boton-vaciar.btn-primary:hover {
  @extend .btn.btn-primary:hover;
}

#boton-vaciar.btn-primary:active {
  @extend .btn.btn-primary:active;
}

a.btn.btn.btn-primary:active {
  @extend .btn.btn-primary:active;
}

input.btn.btn-primary:active {
  @extend .btn.btn-primary:active;
}

.btn.btn-outline-success:active {
  @extend .nav-link:active;
}

.btn.btn-primary:active {
  @extend button.btn.btn-outline-success:active;
}

.btn:first-child:active {
  @extend .btn.btn-primary:active;
}

.btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:first-child  {
  @extend .btn.btn-primary;
}

a:active {
  @extend .btn.btn-primary:active;
  font-weight: bold;
}

.form-control-carrito  {
  @extend .form-control;
}

.btn-outline-success  {
  @extend  .btn.btn-outline-success.bg-bla;
 }

.form-control {
  border-color: black;
}

.nav-link:active {
  color: white;
  background-color: black;
  border-color: black;
  font-style: oblique; 
}

.btn.btn-primary {
  color: black;
  background-color: #ebeae6;
  border-color: black;
  margin-top: 40px;
}

.btn.btn-outline-success {
  color: black;
  background-color: #ebeae6;
  border-color: black;
}

a:visited {
  text-decoration: none;
  color:black;
}

a:hover {
  background-color: white;
  font-weight: bold;
}

.bg-lav {
  background-color:#ebeae6;
}

a.list-group-item.list-group-item-action {
  color: black;
  background-color: #ebeae6;
  border-color: black;
}

a.list-group-item.list-group-item-action:hover {
  color: black;
  background-color: white;
  border-color: black;
}

a.list-group-item.list-group-item-action:active {
color: white;
background-color: black;
border-color: black;
font-style: oblique; 
}

.form-control  {
  position: absolute;
  transform: translateX(-270px);
  width: 171px;
 }

.btn.btn-outline-success.bg-bla {
  position: absolute;
  transform: translateX(-90px);
 }

 .bg-bla {
  background-color: #ebeae6;
  border-color: black;
  border: black;
 }

 a.dropdown-item:active {
  color: white;
  background-color: black;
  border-color: black;
  font-style: oblique;
 }

 button.btn.btn-outline-success:active {
  color: white;
  background-color: black;
  border-color: black;
  background-color: black;
  font-style: oblique;
 }

 button.btn.btn-primary:active {
  color: white;
  background-color: black;
  border-color: black;
  font-style: oblique;
 }

 .btn-outline-success:not {
  border: black;
  border-color: black;
 }

 .nav-link:active {
  color: white;
  background-color: black;
  border-color: black;
  font-style: oblique; 
}

.usuarioyclave__login .datospersonales__registrate{
margin-bottom: 150px;
}

.usuarioyclave .datospersonales {
height: 250px;
}

.datospersonales {
padding-top: 40px;
}

.login {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: justify;
}

.marca__titulo {
font-style: oblique;
}

.contacto__formulario--titulo .contacto__formas--titulo .contacto__formas--otras .datospersonales__registrate {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: left;
font-size: small; 
}

.contacto__formas--otras .usuarioyclave__login .datospersonales__registrate {
color: darkgray;
}

.contacto__formulario--titulo .contacto__formas--titulo a:visited .btn.btn-primary .btn-outline-success .btn.btn-outline-success #boton-vaciar.btn-primary .btn:first-child {
color: black;
}

.btn.btn-primary:hover {
color: black;
background-color: white;
border-color: black;
font-weight: bold;   
}
